*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    line-height: 1.5;
}

.swiper{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.swiper-slide{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    /* justify-content: center; */
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
    /* align-items: center; */
}

.swiper-slide-content{
    max-width: 600px;
    width: 100%;
    padding: 0;
    text-align: left;
    position: relative;
    z-index: 5;
}

.slide-title{
    color: #e18e82;
    font-size: 60px;
    font-family: "Rubik Vinyl", system-ui;
    font-weight: 400;
    margin-bottom: 10px;
    text-align: center;
}

.slide-text{
    /* color: #333; */
    font-size: 22px;
    /* margin-bottom: 5px; */
    /* background-color: rgba(255, 255, 255, 0.9); */
    /* padding: 5px; */
    /* border-radius: 5px; */
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    /* text-shadow: none; */
    text-align: center;
    margin: 10px auto;
}

.slide-image{
    max-width: 350px;
    height: 550px;
    /* height: auto; */
    display: block;
    margin: 10px auto 0;
    /* margin: auto; */
    border-radius: 0;
    /* box-shadow: 0 4px 8px rgb(0, 0, 0, 0.2); */
    /* padding: -25px; */
}

.swiper-slide-contentOne{
    max-width:750px;
    width: 100%;
    margin-left: auto;
    margin-right: 340px;
    text-align: center; 
    /* position: relative;  */
    /* z-index: 5;  */
    font-size: 25px;
    margin-top: 70px;  
}

.slide-textOne{
    background-color: rgba(255, 255, 255, 0.9);
    padding: 5px;
    /* margin: 10px auto; */
    font-size: 24px;
    line-height: 1.6;
    border-radius: 8px;
    max-width: 700px;
    text-align: center;
}

.slide-textOne-p{
    font-size: 28px;
    font-weight: bold;
    color: #d94f4f; /* tom vermelho elegante */
    /* text-shadow: 1px 1px 2px rgba(0,0,0,0.2); */
    margin-top: 5px;
    text-align: center;
}

.slide-imageOne{
    max-width: 150px;
    margin: -30px;
}

.swiper-slide-contentTwo{
    max-width: 500px;
    width: 100%;
    margin-left: auto;
    margin-right: 250px;
    text-align: center;
    /* text-align: center;  */
    /* position: relative;  */
    /* z-index: 5;  */
    font-size: 35px;
    margin-top: 10px;   
}

.slide-titleTwo{
    /* text-align: right; */
    color: #e18e82;
    font-size: 60px;
    font-family: "Rubik Vinyl", system-ui;
    font-weight: 400;
    margin-bottom: 10px;
}

.slide-textTwo-p{
    /* margin-top: 40px; */
    /* text-align: center; */
    background-color: rgba(255, 255, 255, 0.3);
    padding: 15px;
    margin: 10px auto;
    font-size: 22px;
    line-height: 1.6;
    border-radius: 8px;
    max-width: 700px;
    text-align: center;
    white-space: pre-line;
}

.rodape p{
    margin-bottom: 20px;
    text-align: center;
}

.swiper-pagination{
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
}

.swiper-pagination-bullet{
    background-color: #fff;
    opacity: 0.6;
    transition: opacity 0.3s;
}

.swiper-pagination-bullet-active{
    opacity: 1;
}

/*Responsividade*/

@media (max-width: 768px){
    .swiper{
        height: 70vh; /* Mantido como você solicitou */
    }

    .swiper-slide{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    .swiper-slide-content {
        max-width: 100%; /* Ocupa um pouco mais de espaço horizontal em telas menores */
        width: 100%;
    }

    /* .slide-title { */
        /* font-size: 36px; Reduz o tamanho do título em mobile */
    /* } */

    .slide-title,
    .slide-titleTwo {
        font-size: 36px;
    }


    /* .slide-text { */
        /* font-size: 16px; Reduz o tamanho do parágrafo em mobile */
        /* padding: 10px; */
        /* margin: 10px auto;     */
    /* } */

    .slide-text,
    .slide-textOne,
    .slide-textTwo {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px;
    margin: 10px auto;
    font-size: 22px;
    line-height: 1.6;
    border-radius: 8px;
    max-width: 700px;
    text-align: center;
    white-space: pre-line; /* permite quebra com \n no HTML */
    }

    /* .slide-image { */
        /* max-width: 180px; Reduz o tamanho da imagem em mobile */
        /* margin: 10px auto; */
    /* } */

    .slide-image,
    .slide-imageOne {
    max-width: 100%;
    height: auto;
    margin: 10px auto;
    display: block;
    }

}

/*Responsividade One*/

@media (max-width: 768px){
    .swiper-slide-contentOne{
        margin-right: 0;
    }

   .slide-textOne {
    font-size: 16px;
    padding: 10px;
    margin: 10px auto;
    }

    .slide-textOne-p {
        font-size: 20px;
        margin-top: 20px;
    }

    .slide-imageOne{
        margin: 10px auto;
    }
}

/*Responsividade Two*/

@media (max-width: 768px) {
    .swiper-slide-contentOne,
    .swiper-slide-contentTwo {
        max-width: 100%;
        width: 100%;
        margin: 0 auto;
        padding: 10px;
        text-align: center;
        font-size: 20px;
        /* margin-right: 0;
        margin-left: 0;
        font-size: 18px;
        padding: 10px; */
    }

    .slide-titleTwo {
        font-size: 36px;
        /* text-align: center; */
    }

    .slide-textOne,
    .slide-textTwo-p {
        font-size: 16px;
        margin: 10px;
        text-align: center;
        /* font-size: 20px;
        color: #d94f4f;
        font-weight: bold;
        margin-top: 20px; */
    }

    .slide-textOne-p {
        font-size: 18px;
        margin-top: 20px;
    }

    .slide-imageOne {
        max-width: 150px;
        margin: 10px auto;
        display: block;
    }
}

